In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\akhil\OneDrive\Desktop\project_nike\Nike Dataset.csv')

In [4]:
df

,Invoice Date,Product,Region,Retailer,Sales Method,State,Price per Unit,Total Sales,Units Sold
0,01-01-2020,Men's Street Footwear,Northeast,Foot Locker,In-store,New York,50,6000,120
1,02-01-2020,Men's Athletic Footwear,Northeast,Foot Locker,In-store,New York,50,5000,100
2,03-01-2020,Women's Street Footwear,Northeast,Foot Locker,In-store,New York,40,4000,100
3,04-01-2020,Women's Athletic Footwear,Northeast,Foot Locker,In-store,New York,45,3825,85
4,05-01-2020,Men's Apparel,Northeast,Foot Locker,In-store,New York,60,5400,90
...,...,...,...,...,...,...,...,...,...
9355,06-07-2021,Women's Athletic Footwear,West,West Gear,Outlet,Idaho,38,60,16
9356,05-04-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,19,31,16
9357,05-05-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,18,33,18
9358,04-06-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,63,19
9359,06-07-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,95,28

In [12]:
df.head()
df.tail()
df.shape
df.dtypes

Invoice Date      object
Product           object
Region            object
Retailer          object
Sales Method      object
State             object
Price per Unit     int64
Total Sales        int64
Units Sold         int64
dtype: object

In [14]:
df.isna().sum()

Invoice Date      0
Product           0
Region            0
Retailer          0
Sales Method      0
State             0
Price per Unit    0
Total Sales       0
Units Sold        0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [ ]:
dic1={}
for i in df:
    print(i)
    if df[i].dtype=='int64':
        print(i)
        q1=df[i].quantile(0.25)
        q3=df[i].quantile(0.75)