In [21]:
import numpy as np

In [22]:
import pandas as pd

In [23]:
df=pd.read_csv(r'C:\Users\akhil\OneDrive\Desktop\project_nike\Nike Dataset.csv')

In [24]:
df

,Invoice Date,Product,Region,Retailer,Sales Method,State,Price per Unit,Total Sales,Units Sold
0,01-01-2020,Men's Street Footwear,Northeast,Foot Locker,In-store,New York,50,6000,120
1,02-01-2020,Men's Athletic Footwear,Northeast,Foot Locker,In-store,New York,50,5000,100
2,03-01-2020,Women's Street Footwear,Northeast,Foot Locker,In-store,New York,40,4000,100
3,04-01-2020,Women's Athletic Footwear,Northeast,Foot Locker,In-store,New York,45,3825,85
4,05-01-2020,Men's Apparel,Northeast,Foot Locker,In-store,New York,60,5400,90
...,...,...,...,...,...,...,...,...,...
9355,06-07-2021,Women's Athletic Footwear,West,West Gear,Outlet,Idaho,38,60,16
9356,05-04-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,19,31,16
9357,05-05-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,18,33,18
9358,04-06-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,63,19
9359,06-07-2021,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,95,28

In [25]:
df.head()
df.tail()
df.shape
df.dtypes

Invoice Date      object
Product           object
Region            object
Retailer          object
Sales Method      object
State             object
Price per Unit     int64
Total Sales        int64
Units Sold         int64
dtype: object

In [26]:
df.isna().sum()

Invoice Date      0
Product           0
Region            0
Retailer          0
Sales Method      0
State             0
Price per Unit    0
Total Sales       0
Units Sold        0
dtype: int64

In [27]:
df.duplicated().sum()

0

In [28]:
df.columns

Index(['Invoice Date', 'Product', 'Region', 'Retailer', 'Sales Method',
       'State', 'Price per Unit', 'Total Sales', 'Units Sold'],
      dtype='object')

In [29]:
df["Invoice Date"]

0       01-01-2020
1       02-01-2020
2       03-01-2020
3       04-01-2020
4       05-01-2020
           ...
9355    06-07-2021
9356    05-04-2021
9357    05-05-2021
9358    04-06-2021
9359    06-07-2021
Name: Invoice Date, Length: 9360, dtype: object

In [30]:
df["Invoice Date"]=pd.to_datetime(df['Invoice Date'],format="%d-%m-%Y")

In [31]:
df.dtypes

Invoice Date      datetime64[ns]
Product                   object
Region                    object
Retailer                  object
Sales Method              object
State                     object
Price per Unit             int64
Total Sales                int64
Units Sold                 int64
dtype: object

In [32]:
df['Invoice Date'].dt.year
df['Invoice Date'].dt.month
df["Invoice Date"].dt.month_name()
df["Invoice Date"].dt.day_name()

0       Wednesday
1        Thursday
2          Friday
3        Saturday
4          Sunday
          ...
9355      Tuesday
9356       Monday
9357    Wednesday
9358       Friday
9359      Tuesday
Name: Invoice Date, Length: 9360, dtype: object

In [33]:
df["invoice month"]=df["Invoice Date"].dt.month_name()

In [34]:
df["invoice day"]=df["Invoice Date"].dt.day_name()

In [35]:
df['Retailer'].unique()
df['Sales Method'].unique()

array(['In-store', 'Outlet', 'Online'], dtype=object)

In [36]:
df[df['Sales Method']=='Online'].min()

Invoice Date      2020-01-01 00:00:00
Product                 Men's Apparel
Region                        Midwest
Retailer                       Amazon
Sales Method                   Online
State                         Alabama
Price per Unit                      9
Total Sales                         0
Units Sold                          0
invoice month                   April
invoice day                    Friday
dtype: object

In [37]:
df.dtypes

Invoice Date      datetime64[ns]
Product                   object
Region                    object
Retailer                  object
Sales Method              object
State                     object
Price per Unit             int64
Total Sales                int64
Units Sold                 int64
invoice month             object
invoice day               object
dtype: object

In [38]:
df.groupby("Region")['Total Sales'].agg(['mean','median','max','min','count']).round().sort_values("mean",ascending=False)

             mean  median   max  min  count
Region
Southeast  1333.0   126.0  8250    8   1224
West       1078.0    98.0  7350    7   2160
South       837.0    81.0  8250    5   1728
Northeast   784.0    78.0  7800    2   2376
Midwest     726.0   120.0  6188    0   1872

In [43]:
df.groupby("invoice month")['Total Sales'].agg(['mean','median','max','min','count']).round().sort_values("max",ascending=False)

                 mean  median   max  min  count
invoice month
June            999.0   108.0  8250    0    705
July           1208.0   134.0  8100    2    750
August         1062.0    97.0  8075   14    829
May             977.0    96.0  7800    4    796
March           705.0    67.0  7650    2    778
December       1107.0   109.0  7525    7    743
April           861.0    88.0  7475    3    817
September       935.0    92.0  7475    7    800
February        785.0    90.0  7320    3    746
January         830.0    96.0  7000    6    835
November        836.0    83.0  6188    2    771
October         779.0    78.0  5950    4    790

In [40]:
df.groupby("invoice day")['Total Sales'].agg(['mean','median','max','min','count']).round().sort_values("mean",ascending=False)

               mean  median   max  min  count
invoice day
Thursday     1061.0   112.0  8250    2   1307
Friday       1016.0   105.0  8100    0   1402
Tuesday       901.0    90.0  8075    3   1430
Monday        899.0    91.0  7500    3   1218
Wednesday     888.0    90.0  7500    4   1304
Sunday        859.0    87.0  7800    2   1340
Saturday      829.0    83.0  7000    0   1359

In [41]:
df

,Invoice Date,Product,Region,Retailer,Sales Method,State,Price per Unit,Total Sales,Units Sold,invoice month,invoice day
0,2020-01-01,Men's Street Footwear,Northeast,Foot Locker,In-store,New York,50,6000,120,January,Wednesday
1,2020-01-02,Men's Athletic Footwear,Northeast,Foot Locker,In-store,New York,50,5000,100,January,Thursday
2,2020-01-03,Women's Street Footwear,Northeast,Foot Locker,In-store,New York,40,4000,100,January,Friday
3,2020-01-04,Women's Athletic Footwear,Northeast,Foot Locker,In-store,New York,45,3825,85,January,Saturday
4,2020-01-05,Men's Apparel,Northeast,Foot Locker,In-store,New York,60,5400,90,January,Sunday
...,...,...,...,...,...,...,...,...,...,...,...
9355,2021-07-06,Women's Athletic Footwear,West,West Gear,Outlet,Idaho,38,60,16,July,Tuesday
9356,2021-04-05,Women's Street Footwear,West,West Gear,Outlet,Idaho,19,31,16,April,Monday
9357,2021-05-05,Women's Street Footwear,West,West Gear,Outlet,Idaho,18,33,18,May,Wednesday
9358,2021-06-04,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,63,19,June,Friday
9359,2021-07-06,Women's Street Footwear,West,West Gear,Outlet,Idaho,34,95,28,July,Tuesday

In [42]:
df[df['Product']=="Men's Athletic Footwear"]

,Invoice Date,Product,Region,Retailer,Sales Method,State,Price per Unit,Total Sales,Units Sold,invoice month,invoice day
1,2020-01-02,Men's Athletic Footwear,Northeast,Foot Locker,In-store,New York,50,5000,100,January,Thursday
7,2020-01-08,Men's Athletic Footwear,Northeast,Foot Locker,Outlet,New York,50,4500,90,January,Wednesday
13,2020-01-26,Men's Athletic Footwear,Northeast,Foot Locker,Outlet,New York,50,4625,93,January,Sunday
19,2020-02-01,Men's Athletic Footwear,Northeast,Foot Locker,Outlet,New York,50,4500,90,February,Saturday
25,2020-02-07,Men's Athletic Footwear,Northeast,Foot Locker,Outlet,New York,55,5088,93,February,Friday
...,...,...,...,...,...,...,...,...,...,...,...
9321,2021-09-05,Men's Athletic Footwear,West,Sports Direct,Outlet,Idaho,38,83,22,September,Sunday
9340,2021-04-05,Men's Athletic Footwear,West,West Gear,Outlet,Idaho,21,45,22,April,Monday
9341,2021-05-05,Men's Athletic Footwear,West,West Gear,Outlet,Idaho,22,54,25,May,Wednesday
9342,2021-06-04,Men's Athletic Footwear,West,West Gear,Outlet,Idaho,35,92,26,June,Friday
9343,2021-07-06,Men's Athletic Footwear,West,West Gear,Outlet,Idaho,40,108,27,July,Tuesday